[Desktop Entry]
Version=1.0
Type=Application
Name=pyCharm
Icon={{ installation_home }}/{{ pycharm_file }}/bin/pycharm.svg
Exec="{{ installation_home }}/{{ pycharm_file }}/bin/pycharm" %f
Comment=The Only Python IDE you need
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-pycharm
StartupNotify=true